#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.box {
  width:600px;
  height: 650px;
  margin: 10px;
  background-color: #ffe7e771;
  display: flex;
  flex-direction: column;
}

.internal-box {
  padding: 5px;
  margin: 10px;
  background-color: #7a606071;
}

.checkout-box {
  width: 100%;
  height: 80px;
  margin: 0px;
  background-color: #00000071;
  flex-shrink: 0;
}

.title {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-bottom: 20px;
  flex-direction: column;
}

.semi-title {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin: 20px;
}

.text {
  font-size: 1rem;
  font-family: "Manrope", serif;
  margin: 20px;
}

.stacks {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: row;
}
